@layer theme, base, mantine, components, utilities;

@import url("https://fonts.bunny.net/css2?family=Outfit:wght@300;400;500;700;900&display=swap");

@import "tailwindcss";
@import "@mantine/core/styles.layer.css";

@theme {
  --animate-pulse-glow: pulse-glow 6s ease-in-out infinite alternate;
  --animate-progress: progress 1.2s ease-in-out infinite;
  --color-theme: #242da8;
  --color-dark: #141313;
}

@layer base {
  body {
    @apply overflow-x-hidden min-h-screen pb-20 pt-6 sm:pb-6 sm:pt-20 prettyscroll glowBg;
  }
}

@utility glowBg {
  @apply bg-black;
  &::before {
    @apply fixed inset-0 -z-10 blur-2xl pointer-events-none animate-pulse-glow;
    content: "";
    background: radial-gradient(circle at 50% 30%, #242da84d, #141313 70%);
  }
  &::after {
    @apply fixed inset-0 bg-black/20 pointer-events-none;
    content: "";
  }
}

@utility page {
  @apply grid place-content-center mt-4 px-4 sm:px-6 min-h-[70vh];
}

@utility prettyscroll {
  &::-webkit-scrollbar {
    @apply w-1.5;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-violet-500 rounded-full;
  }
}

@keyframes pulse-glow {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
